html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body {
  background: #f5f5f5;
}
#map {
  height: 80%;
  width: 100%;
}
.search-contacts {
  padding: 20px 20px 20px 60px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0px;
  outline: none;
}

.box {
  width: 100%;
  min-height: 500px;
}

/*ipone */
@media screen and (max-width: 400px)  {
  #map.box {
    min-height: 400px;
  }
  input.box {
    min-height: 30px;
  }
  .list-name.box {
    min-height: 20%;
  }

}

/*ipad 自适应*/
@media screen and (max-width: 1025px){
  #map.box {
    min-height: 400px;
  }
  input.box {
    min-height: 30px;
  }
  .list-name.box {
    min-height: 20%;
  }

}

/*computer*/
@media screen and (min-width: 1026px) {
  #map.box {
    min-height: 500px;
  }
  input.box {
    min-height: 30px;
  }
  .list-name.box {
    min-height: 20%;
  }
}